[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=RookLocal
GenericName=TerminalEmulator

Exec=rook-terminal-local %U
StartupWMClass=dev.rook.RookLocal

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.rook.RookLocal

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for rooklocal:// URLs.
MimeType=x-scheme-handler/rooklocal;
