[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=RookOss
GenericName=TerminalEmulator

Exec=rook-terminal-oss %U
StartupWMClass=dev.rook.RookOss

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.rook.RookOss

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for rookoss:// URLs.
MimeType=x-scheme-handler/rookoss;
