[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=RookPreview
GenericName=TerminalEmulator

Exec=rook-terminal-preview %U
StartupWMClass=dev.rook.RookPreview

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.rook.RookPreview

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for rookpreview:// URLs.
MimeType=x-scheme-handler/rookpreview;
